
.icon-play-circled2:before { content: '\e800'; } /* '' */
.icon-pause-circled:before { content: '\e801'; } /* '' */
.icon-attention-alt:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-toggle-off:before { content: '\e804'; } /* '' */
.icon-toggle-on:before { content: '\e805'; } /* '' */
.icon-ok-circled:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-note-beamed:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-th-thumb-empty:before { content: '\e80c'; } /* '' */
.icon-volume-off:before { content: '\e80d'; } /* '' */
.icon-volume-high:before { content: '\e80e'; } /* '' */
.icon-rewind-outline:before { content: '\e80f'; } /* '' */
.icon-fast-fw-outline:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-loop-alt:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-lock-open:before { content: '\e815'; } /* '' */