
.icon-dribbble:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-css:before { content: '\e803'; } /* '' */
.icon-html5:before { content: '\e804'; } /* '' */
.icon-wrench:before { content: '\e805'; } /* '' */
.icon-keyboard:before { content: '\e806'; } /* '' */